@import "./_OO7BTS.v2.2";

body{
  @include font-style();
  @include choose-text-color();
}
.test{
  height:600px;
  background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
  h1{
    color:linear-gradient(to right bottom, #FBDB89, #F48982);
  }
}
.test2{
  height:600px;

  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.test3{
  height:600px;
  @include bg-linear( #93F9B9,#1D976C,right,bottom );
  @include bg-linear-yellow();
  @include bg-linear-dark();
  @include bg-linear-pink();
}