.dropmenu-test{
    
    .menu-test{
        display: none;
        background-color: aqua;
        color:#000;
        bottom:-20px;
    }

    &:hover{
        .menu-test{
            display: block;
            position: absolute;
        }
    }
}