<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{htmlWebpackPlugin.options.title}}</title>
        <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
    </head>
    <body>
        <div class="container">
            <div class="img-test"></div>
            <p>
                啊实打实大苏打TXT
            </p>
            <a href="#" class="btn btn-danger">
                TEST-BOOTSTRAP4
            </a>
            <i class="fas fa-spinner fa-spin"></i>
            <i class="fas fa-address-card"></i> 
            <i class="fab fa-alipay"></i>
        </div>
    </body>
</html>