<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{htmlWebpackPlugin.options.title}}</title>
        <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
    </head>
    <body>
        <div class="container">
            <div class="img-test"></div>
        </div>
    </body>
</html>